.border-none {
  border-style: none;
}

.border-solid {
  border-style: solid;
}

.border-dotted {
  border-style: dotted;
}

.border-double {
  border-style: double;
}

/* Colors */
.border-white {
  border-color: var(--white) !important;
}

.border-black {
  border-color: var(--black) !important;
}

.border-gray {
  border-color: var(--gray) !important;
}

.border-blue {
  border-color: var(--blue) !important;
}

.border-red {
  border-color: var(--red) !important;
}

.border-green {
  border-color: var(--green) !important;
}

.border-yellow {
  border-color: var(--yellow) !important;
}
