.h-0 {
    height: 0;
}

.h-1 {
    height: var(--base-height);
}

.h-2 {
    height: calc(var(--base-height) * 2);
}

.h-3 {
    height: calc(var(--base-height) * 3);
}

.h-4 {
    height: calc(var(--base-height) * 4);
}

.h-5 {
    height: calc(var(--base-height) * 5);
}

.h-6 {
    height: calc(var(--base-height) * 6);
}

.h-7 {
    height: calc(var(--base-height) * 7);
}

.h-8 {
    height: calc(var(--base-height) * 8);
}

.h-9 {
    height: calc(var(--base-height) * 9);
}

.h-10 {
    height: calc(var(--base-height) * 10);
}
