.h-0 {
    width: 0;
}

.h-1 {
    width: var(--base-height);
}

.h-2 {
    width: var(--height-2);
}

.h-3 {
    width: var(--height-3);
}

.h-4 {
    width: var(--height-4);
}

.h-5 {
    width: var(--height-5);
}

.h-6 {
    width: var(--height-6);
}

.h-7 {
    width: var(--height-7);
}

.h-8 {
    width: var(--height-8);
}

.h-9 {
    width: var(--height-9);
}

.h-10 {
    width: var(--height-10);
}
