.w-0 {
    width: 0;
}

.w-1 {
    width: var(--base-width);
}

.w-2 {
    width: calc(var(--base-width) * 2);
}

.w-3 {
    width: calc(var(--base-width) * 3);
}

.w-4 {
    width: calc(var(--base-width) * 4);
}

.w-5 {
    width: calc(var(--base-width) * 5);
}

.w-6 {
    width: calc(var(--base-width) * 6);
}

.w-7 {
    width: calc(var(--base-width) * 7);
}

.w-8 {
    width: calc(var(--base-width) * 8);
}

.w-9 {
    width: calc(var(--base-width) * 9);
}

.w-10 {
    width: calc(var(--base-width) * 10);
}
