.text-white {
  color: var(--white);
}

.text-black {
  color: var(--black);
}

.text-gray {
  color: var(--gray);
}

.text-red {
  color: var(--red);
}

.text-blue {
  color: var(--blue);
}

.text-green {
  color: var(--green);
}

.text-yellow {
  color: var(--yellow);
}
