.font-0 {
  font-size: 0;
}

.font-1 {
  font-size: var(--base-font-size);
}

.font-2 {
  font-size: var(--font-2-size);
}

.font-3 {
  font-size: var(--font-3-size);
}

.font-4 {
  font-size: var(--font-4-size);
}

.font-5 {
  font-size: var(--font-5-size);
}

.font-6 {
  font-size: var(--font-6-size);
}

.font-7 {
  font-size: var(--font-7-size);
}

.font-8 {
  font-size: var(--font-8-size);
}

.font-9 {
  font-size: var(--font-9-size);
}

.font-10 {
  font-size: var(--font-10-size);
}
