/* NOTE: These variables are not to be changed! */

:root {
  /* Padding */
  --base-padding: 0.25rem;
  --padding-2: calc(var(--base-padding) * 2);
  --padding-3: calc(var(--base-padding) * 3);
  --padding-4: calc(var(--base-padding) * 4);
  --padding-5: calc(var(--base-padding) * 5);
  --padding-6: calc(var(--base-padding) * 6);
  --padding-7: calc(var(--base-padding) * 7);
  --padding-8: calc(var(--base-padding) * 8);
  --padding-9: calc(var(--base-padding) * 9);
  --padding-10: calc(var(--base-padding) * 10);

  /* Margin */
  --base-margin: 0.25rem;
  --margin-2: calc(var(--base-margin) * 2);
  --margin-3: calc(var(--base-margin) * 3);
  --margin-4: calc(var(--base-margin) * 4);
  --margin-5: calc(var(--base-margin) * 5);
  --margin-6: calc(var(--base-margin) * 6);
  --margin-7: calc(var(--base-margin) * 7);
  --margin-8: calc(var(--base-margin) * 8);
  --margin-9: calc(var(--base-margin) * 9);
  --margin-10: calc(var(--base-margin) * 10);

  /* Colors */
  --white: #ffffff;
  --black: #000000;
  --gray: #6f6f6f;
  --red: #ff4242;
  --blue: #4388ff;
  --green: #09c409;
  --yellow: #ffff00;

  /* Border settings */
  --border-radius: 0.5rem;
  --border-width: 0.2rem;

  /* font sizes */
  --base-font-size: 16px;
  --font-2-size: calc(var(--base-font-size) * 1.125);
  --font-3-size: calc(var(--base-font-size) * 1.25);
  --font-4-size: calc(var(--base-font-size) * 1.5);
  --font-5-size: calc(var(--base-font-size) * 1.875);
  --font-6-size: calc(var(--base-font-size) * 2.25);
  --font-7-size: calc(var(--base-font-size) * 3);
  --font-8-size: calc(var(--base-font-size) * 4.5);
  --font-9-size: calc(var(--base-font-size) * 6);
  --font-10-size: calc(var(--base-font-size) * 8);

  /* Width and Height sizes */
  --base-width: 0.5rem;
  --width-2: calc(var(--base-width) * 2);
  --width-3: calc(var(--base-width) * 3);
  --width-4: calc(var(--base-width) * 4);
  --width-5: calc(var(--base-width) * 5);
  --width-6: calc(var(--base-width) * 6);
  --width-7: calc(var(--base-width) * 7);
  --width-8: calc(var(--base-width) * 8);
  --width-9: calc(var(--base-width) * 9);
  --width-10: calc(var(--base-width) * 10);

  --base-height: 0.5rem;
  --height-2: calc(var(--base-height) * 2);
  --height-3: calc(var(--base-height) * 3);
  --height-4: calc(var(--base-height) * 4);
  --height-5: calc(var(--base-height) * 5);
  --height-6: calc(var(--base-height) * 6);
  --height-7: calc(var(--base-height) * 7);
  --height-8: calc(var(--base-height) * 8);
  --height-9: calc(var(--base-height) * 9);
  --height-10: calc(var(--base-height) * 10);
}
